{% extends 'layouts/admin_layout.html' %}
{% block content %}
    <div class="card-panel">
        <h3 class="content-header">Часто задаваемые вопросы</h3>
        <p class="content-caption">Редактирование FAQ. Для стилизации текста установите курсор в нужном месте или выделите текст для форматирования и нажмите соответсвующие кнопки</p>
        <section class="faq-form">
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="format-buttons">
                    <div class="format-option">
                        <button class="btn-flat waves-effect waves-purple" type="button" id="boldButtonRu"><i class="material-icons">format_bold</i></button>
                        <p>Полужирный</p>
                    </div>
                    <div class="format-option">
                        <button class="btn-flat waves-effect waves-purple" type="button" id="italicButtonRu"><i class="material-icons">format_italic</i></button>
                        <p>Курсив</p>
                    </div>
                </div>
                <div class="input-field">
                    {{ form.text_ru(class='materialize-textarea') }}
                    {{ form.text_ru.label }}
                    {% for error in form.text_ru.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="format-buttons">
                    <div class="format-option">
                        <button class="btn-flat waves-effect waves-purple" type="button" id="boldButtonUz"><i class="material-icons">format_bold</i></button>
                        <p>Полужирный</p>
                    </div>
                    <div class="format-option">
                        <button class="btn-flat waves-effect waves-purple" type="button" id="italicButtonUz"><i class="material-icons">format_italic</i></button>
                        <p>Курсив</p>
                    </div>
                </div>
                <div class="input-field">
                    {{ form.text_uz(class='materialize-textarea') }}
                    {{ form.text_uz.label }}
                    {% for error in form.text_uz.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-button">
                    {{ form.submit(class='btn waves-effect waves-light') }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}