{% extends 'layouts/admin_layout.html' %}
{% block content %}
    <div class="card-panel">
        <h3 class="content-header">Новый телеканал</h3>
        <p class="content-caption">Добавление нового телеканала. <strong>Внимание!</strong> максимальный размер загружаемых файлов - 16 Мб. Загрузка файлов может быть долгая в зависимости от скорости вашего интернета, будьте терпеливы.</p>
        <section class="new-channel-form">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="input-field">
                    {{ form.name() }}
                    {{ form.name.label }}
                    {% for error in form.name.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="file-field input-field">
                    <div class="btn purple darken-4 white-text">
                        <span>Выбрать</span>
                        {{ form.price_files() }}
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" placeholder="Файлы прайсов" class="file-path">
                    </div>
                    <span class="helper-text">Разрешённые файлы: jpg, png, pdf, doc, docx</span>
                    {% for error in form.price_files.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="file-field input-field">
                    <div class="btn purple darken-4 white-text">
                        <span>Выбрать</span>
                        {{ form.package_offers_files() }}
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" placeholder="Файлы пакетных предложений" class="file-path">
                    </div>
                    <span class="helper-text">Разрешённые файлы: jpg, png, pdf, doc, docx</span>
                    {% for error in form.package_offers_files.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-button">
                    {{ form.submit(class='btn waves-effect waves-light') }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}