{% extends 'layouts/admin_layout.html' %}
{% block content %}
    <div class="card-panel">
        <h3 class="content-header">Рейтинги каналов</h3>
        <section class="rating-form">
            <form action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="file-field input-field">
                    <div class="btn purple darken-4 white-text">
                        <span>Выбрать</span>
                        {{ form.image() }}
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" placeholder="Изображение" {% if form.file_path %} value="{{ form.file_path }}" {% endif %} class="file-path">
                    </div>
                    <span class="helper-text">Разрешённые файлы: jpg, png</span>
                    {% for error in form.image.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
            <div class="form-button">
                {{ form.submit(class='btn waves-effect waves-light') }}
            </div>
            </form>
        </section>
    </div>
    <div class="card-panel">
        <h3 class="content-header">Презентации каналов</h3>
        <p class="content-caption"><strong>Внимание!</strong> При загрузке новых файлов старые удаляться</p>
        <section class="presentation-form">
            <form action="{{ url_for('admin.presentations') }}" method="post" enctype="multipart/form-data">
                {{ presentation_form.hidden_tag() }}
                <div class="file-field input-field">
                    <div class="btn purple darken-4 white-text">
                        <span>Выбрать</span>
                        {{ presentation_form.presentations() }}
                    </div>
                    <div class="file-path-wrapper">
                        <input type="text" placeholder="Файлы презентаций" class="file-path">
                    </div>
                    {% for error in presentation_form.presentations.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-button">
                    {{ presentation_form.submit(class='btn waves-effect waves-light') }}
                </div>
            </form>
        </section>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='js/editor.js') }}"></script>
{% endblock %}